* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  gap: 10px;
}

.field {
  display: flex;
  flex-basis: 65px;
  align-items: center;
  flex-direction: column;

  margin-top: 10px;
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.5);
}

.value {
  font-size: 40px;
}
